<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="../../static/registration/js/main.js">
    <!-- Bootstrap Grid -->
    <style>
        body {
            background: rgb(248, 249, 250);
        }

        a {
            text-decoration: none;
            /* Отменяем подчеркивание у ссылки */
        }
    </style>
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script src="../../static/registration/js/main.js"></script>
<!-- Main Script -->
<div class="modal modal-signin position-absolute d-block bottom-100 py-5" tabindex="-1" role="dialog"
     id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h2 class="fw-bold mb-0">Регистрация</h2>
                <form method="post">
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </form>
                
            </div>

            <div class="modal-body p-5 pt-0">
                <form class="" action="{% url 'reg_success' %}" method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-3" name="email" id="email"
                               placeholder="name@example.com"
                               required>
                        <label for="email">Электронная почта</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="name" class="form-control rounded-3" name="username" id="username"
                               placeholder="username" required>
                        <label for="username">Имя</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-3 pass" name="password"
                               id="password" placeholder="Password"
                               oninput="srav('password', 'repeat_password')" required>
                        <label for="password">Пароль</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-3 pass" name="repeat_password"
                               id="repeat_password" placeholder="Password"
                                oninput="srav('password', 'repeat_password')" required>
                        <label for="repeat_password">Повторите пароль</label>

                    </div>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitch"
                               onclick="show_hide_password(this);">
                        <label class="form-check-label" for="flexSwitch">Показать пароль</label>
                    </div>

                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary disabled" type="submit"
                            id="sing_up">Зарегестрироваться
                    </button>
                </form>
                <form method="post">
                    Уже есть аккаунт? <button type="submit" class="btn btn-link p-0" style="text-decoration: none; margin-top: -0.2em">Войти</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
</body>

</html>